.addAdressForm{
    position: absolute;

    background-color: #fff;
    width: 1000px;
    height: 500px;

    border: 1px solid #000;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 40px;
}

form{
    /* display: flex;
    justify-content: center; */
}

.addAdressForm{
    display: flex;
    flex-direction: column;
}

label{
    display: flex;
    margin-top: 20px;
}

.addLabels{
    margin-top: 10%;
}

.adress_label{
    font-size: 20px;
    /* background-color: violet; */
    width:200px;
    margin-right: 10px;

    display: flex;
    justify-content:end;
}

input{
    /* margin-top: 10px; */
    width: 500px;
}