.adressItem__Block{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.AdressItem{
    /* background-color: coral; */
    
    height: 50px;
    display: flex;
    align-items: center;
    border: 3px solid coral; 
    border-radius: 50px;
    padding: 0 20px 0 10px;
    width: 100%;
    justify-content: space-between;
}    


.lightBlock{
    width: 70px;
    height: 45px;
    border-radius: 50px;
    font-size: 25px;
    color: #fff;
    border: 1px solid #000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightFalse{
    
    background-color: red;
}

.lightTrue{
    background-color: yellowgreen;
}


.beleteBut{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #fff;
}

.beleteBut img{
    width: 20px;
}