.backgroundIMG {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background-image: url('../img/photo_2024-04-08_17-00-37.jpg'); /* Замість 'path/to/your/image.jpg' вкажіть шлях до вашого зображення */
	background-size: cover; /* Щоб зображення відповідало розміру контейнера */
	background-position: center; /* Щоб зображення завжди було по центру */
	background-repeat: no-repeat; /* Щоб зображення не повторювалось */
}
.backgroundIMG img {
	z-index: -10;
	width: 100%;
	height: auto;
}

.App {
	max-width: 1283px;
	margin: 0 auto;
	height: 100%;
}
