/* Мобільні пристрої:

Малий мобільний: Зазвичай від 320px до 480px.
Середній мобільний: Від 481px до 767px.
Великий мобільний або планшет: Від 768px до 1024px.
Планшети та планшетні комп'ютери:

Малий планшет: Від 768px до 991px.
Середній планшет: Від 992px до 1199px.
Великий планшет: Від 1200px до 1399px.
Десктопні комп'ютери:

Невеликий десктоп: Від 1400px до 1599px.
Середній десктоп: Від 1600px до 1919px.
Великий десктоп: Від 1920px та більше. */

.App {
	/* background-color: blanchedalmond; */
	max-width: 2000px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
}
