.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: 'Gilroy', sans-serif;
}

/* a {
	text-decoration: none;
} */

.header_menu {
	display: flex;
	align-items: center;
}

.main_item {
	color: #ffe27a;
	font-size: 39.94px;
	font-weight: 700;
	line-height: 45.5px;
	text-decoration: none;
}

.header_menu__item {
	font-size: 23.54px;
	font-weight: 500;
	line-height: 26.82px;
	text-decoration: none;
	color: #fff;
}

.header_menu__item:not(:last-child) {
	margin-right: 50px;
}

.buttExit {
	border-radius: 20px;
	border: 1px solid #ffe27a;
	color: #fff;
	text-decoration: none;
	font-size: 23.54px;
	font-weight: 500;
	line-height: 26px;
	padding: 10px;
	background-color: black;
}

.gumburgerMenu img {
	width: 10px;
	height: auto;
}

/* @media (max-width: 1200px) {
	.header_menu__item:not(:last-child) {
		margin-right: 20px;
	}
	.main_item {
		font-size: 30px;
	}
	.header_menu__item {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.main_item {
		font-size: 25px;
	}
	.header_menu__item {
		font-size: 10px;
	}

	.buttExit {
		width: 50px;
		height: 20px;
		border-radius: 50px;
		margin-left: 20px;
	}
}

@media (min-width: 481px) {
	.gumburgerMenu {
		display: none;
	}
}

@media (max-width: 480px) {
	.header_menu__item:not(:last-child) {
		display: none;
	}
} */
