.home__name{
    font-size: 200%;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 20px 0 20px 0;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.home__addBut{
    display: flex;
    justify-content: end;
    
}

.formAddAdress{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


